/*
  Author: Monayem Hossain Limon
  GitHub: https://github.com/Limon00001
  Date: 19 Feb, 2025
  @copyright 2025 monayem_hossain_limon
*/

/* Tailwind CSS */
@import 'tailwindcss';

/* Global Styles */
html,
::after,
::before,
::backdrop,
::file-selector-button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration-line: none;
  list-style: none;
  scroll-behavior: smooth;
}

@keyframes horizontalScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.horizontal-scroll {
  animation: horizontalScroll 30s linear infinite;
}
