/*
  Author: Monayem Hossain Limon
  GitHub: https://github.com/Limon00001
  Date: 19 Feb, 2025
  @copyright 2025 monayem_hossain_limon
*/

/* Tailwind CSS */
@import 'tailwindcss';

/* Tailwind Scrollbar */
@plugin 'tailwind-scrollbar';

/* Custom Variant */
@custom-variant dark (&:where(.dark, .dark *));

/* Global Styles */
html,
::after,
::before,
::backdrop,
::file-selector-button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration-line: none;
  list-style: none;
  scroll-behavior: smooth;
}

@theme {
  --color-primary: #080806;
  --color-light: #f4f5f9;
}

/* Utility classes */
@layer utilities {
  .btn-navAuthLink {
    @apply text-sm font-medium px-3 rounded-md;
  }

  .btn-inline {
    @apply inline-flex items-center;
  }

  .btn-style {
    @apply px-8 py-4 text-lg font-medium;
  }

  .btn-group {
    @apply block py-2 hover:text-gray-500;
  }

  .horizontal-scroll {
    animation: horizontalScroll 30s linear infinite;
  }
}

@keyframes horizontalScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
